$primary-font       : "Roboto", "Arial" , sans-serif;

:root{
    /* Colors */
    --primary-color      :#0F0F0F;
    // --secondary-color    :#FFDAC6;
    // --tertiary-color     :#BABD8D;
    // --quaternary-color   :#FA9500;

    --primary-text-color :#F1F1F1;
    --secondary-text-color:#A2A2A2;

    // --selection-color: ;
    // --selection-bg-color: ;

    font-size   : 62.5%;
}
// /* Modo oscuro */
// @media (prefers-color-scheme: dark) {
//     :root{
//         --primary-color     :;
//         --secondary-color   :;
//         --tertiary-color    :;
//         --quaternary-color  :;

//         --primary-text-color:;
//         --secondary-text-color:;
//         --selection-color   :;
//         --selection-bg-color:;
//     }
// }
// /* Modo alto contraste */
// @media (prefers-contrast: high){
//     :root{
//         --primary-color     :;
//         --secondary-color   :;
//         --tertiary-color    :;
//         --quaternary-color  :;

//         --primary-text-color:;
//         --secondary-text-color:;
//         --selection-color   :;
//         --selection-bg-color:;
//     }
// }
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation       : none !important;
    transition      : none !important;
    }
}


/* Reset*/
* { 
    margin          : 0;
    padding         : 0;
    border          : 0;
    box-sizing      : border-box;
    vertical-align  : baseline;   
}
img , picture , video , iframe , figure{
    max-width       : 100%;
    width           : 100%;
    display         : block;
    object-fit      : cover;            /* opcional */
    object-position : center center;    /* opcional */
}
a {
    display         : block;
    text-decoration : none;
    color           : inherit;
    font-size       : inherit;
}   
p a {
    display         : inline;
}
li {
    list-style-type : none;
}
html {
    scroll-behavior : smooth;
}
h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size       : 1.6rem;
    font-weight     : inherit;
    font-style      : inherit;
    text-decoration : none;
    color           : inherit;
}
blockquote:before, blockquote:after, q:before, q:after {
	content         : '';
	content         : none;
}
// ::selection {
//     background-color: var(--selection-bg-color);
//     color           : var(--selection-color);
// }
form , input, textarea, select , button , label{
    font-family     : inherit;
    font-size       : inherit;
    hyphens         : auto;
    background-color: transparent;
    color           : inherit;
    display         : block;
    appearance      : none;
}
table , tr , td {
    border-collapse : collapse;
    border-spacing  : 0;
}
svg{
    width           : 100%;
    display         : block;
    fill            : currentColor;
}   
body {
    min-height  : 100vh;
    // min-width   : $min-mobile-width;
    font-family : $primary-font;
    color       : var(--primary-text-color);
    font-smooth: always;/* opcional */
    -webkit-font-smoothing: antialiased;/* opcional */
    -moz-osx-font-smoothing: grayscale;/* opcional */
    background-color: var(--primary-color);
}